build/*
CMakeCache.txt
CMakeLists.txt.user
*.so
*.bin
*.mat
*.gif
*.user
*.check_cache
*.ps
*.pdf
*.fig
*.jpg
*.png
*.svg
*.jpeg
*.avi
*.mp4
*.mpeg
*.json
*.c3d
*.csv
*.ff
*.cmz
*.cmx
*.cmz.cmx
*.zip


